@media (min-width: 769px) {
  .login100-form {
    left: 330px;
  }

  .login100-pic {
    right: 410px;
  }
}

@media (min-width: 940px) {
  .login100-form {
    left: 350px;
  }

  .login100-pic {
    right: 450px;
  }
}

@media (min-width: 992px) {
  .login100-form {
    left: 420px;
  }

  .login100-pic {
    right: 420px;
  }
}
